@keyframes float{

    0%{
        transform:translateY(0px) translateX(0px);
    }

    50%{
        transform:translateY(-30px) translateX(20px);
    }

    100%{
        transform:translateY(0px) translateX(0px);
    }

}

/*==========================
SCROLL REVEAL
===========================*/

.reveal{
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active{
    opacity: 1;
    transform: translateY(0);
}